<?xml version="1.0" encoding="utf-8"?>

<launch>
	<node pkg="ar_sys" type="system_viewer" name="ar_system_viewer" output="screen">
		<remap from="/transform" to="/ar_multi_boards/transform" />

		<param name="map_path" type="string" value="$(find ar_sys)/data/viewer/map.yml"/>
		<param name="digital_filter_change_rate" type="double" value="0.5"/>
	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ar_sys)/data/viewer/viewer.rviz"/>

</launch>

